.list-of-posts {
  list-style: none;
}

.menu-post {
  margin-top: 1rem;
  width: 1000px;
  height: 100px;
  clear: both;
  background: #D4D4D4;
  border-radius: 10px;
  border-bottom: 1px solid #999;

}
.menu-post img {
  margin-right: 0.5rem;
  max-height: 100px;
  float: left;
  border-radius: 10px;
  border-bottom: 1px solid #999;
}
.topboxput {
  height: 50px;
  background-color: #D8D5D0;
  width: 800px;
}
.post-details {
  padding-right: 1rem;
  overflow: hidden;

}
.menu-post .rating {
  margin-left: 1rem;
}
.putCen {
  margin-left: 3rem;
}
.App-logo {
  height: 80px;
}
.post-form {
  margin-top: 1rem;
  width: 1000px;
  height: 169px;
  clear: both;
  background: #D4D4D4;
  border-radius: 10px;
  border-bottom: 1px solid #999;

  margin-left: 2.5rem;
}
.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

